{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <h2>Restaurant Category Form</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <ul>
                <li>
                    <label for="category_name">Restaurant Category: </label>
                    <input type="text" name="category_name" id="category_name" required>
                </li>
            </ul>
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
{% endblock %}