<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    {% include base.html %}
    {% block content %}
    <table>
        <tr>
            <th>No</th>
            <th>Restaurant Category</th>
            <th>Action</th>
        </tr>
        {% for i in restaurant_category %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.Name }}</td>
            <td><a href = ""><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>