{% extends 'admin_base.html' %}

{% block content %}
<h1 class="text-center"> User Profile: {{user_acc.2}} {{user_acc.3}} </h1>
<br>

<p>Email: {{user_acc.0}}</p>
<p>Password: {{user_acc.1}}</p>
<p>Name: {{user_acc.2}} {{user_acc.3}}</p>
<p>Phone Number: {{user_acc.4}}</p>
<p>NIK: {{transaction_actor.0}}</p>
<p>Bank Name: {{transaction_actor.1}}</p>
<p>Account Number: {{transaction_actor.2}}</p>

<br>
<p>Restaurant Name: {{restaurant_data.0}}</p>
<p>Branch: {{restaurant_data.1}}</p>
<p>Phone Number: {{restaurant_data.2}}</p>
<p>Street: {{restaurant_data.3}}</p>
<p>District: {{restaurant_data.4}}</p>
<p>City: {{restaurant_data.5}}</p>
<p>Province: {{restaurant_data.6}}</p>
<p>Rating: {{restaurant_data.7}}</p>
<p>Restaurant Category: {{restaurant_data.8}}</p>
<p>Operational Hours:</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"> No </th>
        <th scope="col"> Day </th>
        <th scope="col"> Operating Time </th>
        <th scope="col"> Closing Time </th>
    </tr>
    </thead>
    <tbody>
        {% for i in opHours %}
        <tr>
            <th scope="row">1</th>
            <td> {{ i.0 }} </td>
            <td> {{ i.1 }} </td>
            <td> {{ i.2 }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>Active Promo:</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col"> No </th>
        <th scope="col"> Start Date </th>
        <th scope="col"> End Date </th>
    </tr>
    </thead>
    <tbody>
        {% for i in curr_promo %}
        <tr>
            <th scope="row">1</th>
            <td> {{ i.3 }} </td>
            <td> {{ i.4 }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
{% if verificator == None %}
<p>Status: Not Verified</p>
{% else %}
    <p>Status: Verified</p>
    <p>Verified by: {{verificator.1}} {{verificator.2}}</p>
{% endif %}

<br>
<p>RestoPay Balance: {{transaction_actor.4}}</p>

<button onclick="location.href = '/user/admin';" type="submit" class="btn btn-primary">Back</button>
{% endblock content %}