{% extends 'courier_base.html' %}

{% block content %}

<h1 class="text-center"> User Dashboard: {{user_acc.2}} {{user_acc.3}} </h1>
<br>

<p>Email: {{user_acc.0}}</p>
<p>Password: {{user_acc.1}}</p>
<p>Name: {{user_acc.2}} {{user_acc.3}}</p>
<p>Phone Number: {{user_acc.4}}</p>
<p>NIK: {{transaction_actor.0}}</p>
<p>Bank Name: {{transaction_actor.1}}</p>
<p>Account Number: {{transaction_actor.2}}</p>

<br>
<p>Number Plate: {{courier_data.0}}</p>
<p>Driving License: {{courier_data.1}}</p>
<p>Vehicle Type: {{courier_data.2}}</p>
<p>Vehicle Brand: {{courier_data.3}}</p>

<br>
{% if verificator == None %}
<p>Status: Not Verified</p>
{% else %}
    <p>Status: Verified</p>
    <p>Verified by: {{verificator.1}} {{verificator.2}}</p>
{% endif %}

<br>
<p>RestoPay Balance: {{transaction_actor.4}}</p>
{% endblock content %}