{% extends 'base.html' %}

{% block content %}
<h1 class="text-center"> PROFILE </h1>
<br>

<p>Email: customer@gmail.com</p>
<p>Password: aneh banget password masa di show!?</p>
<p>Name: Nafis Azizi Riza</p>
<p>Phone Number: 12345677890</p>
<p>NIK: 1234567890</p>
<p>Bank Name: BNI</p>
<p>Account Number: 1234567890</p>

<br>
<p>Birth Date: 31 Feb 2025</p>
<p>Gender: Male</p>

<br>
<p>Status: Verified</p>
<p>Verified by: Admin SIREST</p>

<br>
<p>RestoPay Balance: 0</p>

<button type="submit" class="btn btn-primary">Back</button>
{% endblock content %}