{% extends 'restaurant_base.html' %}
{% block content %}

<body>
    <h1 class="text-center"> Order Summary </h1>
    <br>
    <p>Order created time: {{datetime}}</p>

    <h4>Customer Details</h4>
    <p>Customer Name: {{customer.0}} {{customer.1}}</p>
    <p>Street: {{customer.2}}</p>
    <p>Distrcit: {{customer.3}}</p>
    <p>City: {{customer.4}}</p>
    <p>Province: {{customer.5}}</p>

    <h4>Restaurant Details</h4>
    <p>Restaurant: {{restaurant.0}} {{restaurant.1}}</p>
    <p>Street: {{restaurant.2}}</p>
    <p>District: {{restaurant.3}}</p>
    <p>City: {{restaurant.4}}</p>
    <p>Province: {{restaurant.5}}</p>

    <h4>Food Ordered</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"> Menu </th>
            <th scope="col"> Quantity </th>
            <th scope="col"> Notes </th>
        </tr>
        </thead>
        <tbody>
            {% for i in food %}
            <tr>
                <td> {{ i.0 }} </td>
                <td> {{ i.1 }} </td>
                <td> {{ i.2 }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h4>Payment Details</h4>
    <p>Total Food Price: {{payment.0}}</p>
    <p>Total Discount: {{payment.1}}</p>
    <p>Delivery Fee: {{payment.2}}</p>
    <p>Total Price: {{payment.3}}</p>
    <p>Payment Method: {{payment.4}}</p>
    <p>Payment Status: {{payment.5}}</p>
    <p>Transaction Status: {{transaction_status}}</p>

    <h4>Courier Details</h4>
    <p>Courier: {{courier.0}} {{courier.1}}</p>
    <p>Plate Number: {{courier.2}}</p>
    <p>Vehicle Type: {{courier.3}}</p>
    <p>Vehicle Brand: {{courier.4}}</p>

    <button onclick="location.href = '/transaction_restaurant/';" type="submit" class="btn btn-primary">Back</button>
</body>

{% endblock content %}