{% extends 'restaurant_base.html' %}
{% block content %}

<body>
    <h1 class="text-center"> Ongoing Orders </h1>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"> No </th>
            <th scope="col"> Customer Name </th>
            <th scope="col"> Time Created </th>
            <th scope="col"> Current Status </th>
            <th scope="col"> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for i in data %}
            <tr>
                <th scope="row">1</th>
                <td> {{ i.1 }} {{ i.2 }} </td>
                <td> {{ i.3 }} </td>
                <td> {{ i.4 }} </td>
                <td>
                    <button onclick="location.href = '/transaction_restaurant/details/{{ i.0 }}/{{ i.3|date:'Y-m-d H:i:s' }}/{{ rname }}/{{ rbranch }}';" class="btn btn-outline-primary"> Details </button>
                    <button class="btn btn-primary"> Send </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

{% endblock content %}