<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
</head>
<body>
    {% include base.html %}
    {% block content %}
    <h1>Food Ingredient Form</h1>
    {% csrf_token %}
    <form>
        <div>
            <label>Food Ingredient Name: </label>
            <input type="text">
        </div>
        <button type="submit">Save</button>
    </form>
    {% endblock %}
</body>
</html>