{% extends 'courier_base.html' %}

  {% block content %}
  <html>
    <head>
    </head>
    <body>
      <h1>
        <h5>Create Delivery Fee per KM</h5>
        <form action="/action_page.php">
          <label for="province">Province:</label>
          <input type="text" id="province" name="province"><br><br>
          <label for="motorate">Motorcycle Delivery Rate:</label>
          <input type="text" id="motorate" name="motorate"><br><br>
          <label for="carrate">Car Delivery Rate:</label>
          <input type="text" id="carrate" name="carrate"><br><br>
          <button class="btn btn-success my-3" type="submitbutton" id="add_fee">Save</button>
        </form>
      </h1>
    </body>
  </html>
  {% endblock content %}

