{% extends 'admin_base.html' %}
  {% block content %}

  <html>
    <head>
      <style>
        th, td {
          padding: 5px;
        }
        </style>
    </head>
    <body>
      <h5>Delivery Fee per KM</h5>
      <table>
        <tr>
        <th>No</th>
        <th>Province</th>
        <th>Motorcycle Rate</th>
        <th>Car Rate</th>
        <th>Actions</th>
      </tr>
      <tr>
        {% for item in list_item %}
        <td>{{item.pk}}</td>
        <td>{{item.province}}</td>
        <td>{{item.motorate}}</td>
        <td>{{item.carrate}}</td>
        {%endfor%}
        <td>
          <button type="submit" id="editbutton"><a href="/delivery_fee/change_fee">Edit</a></button><br>
          <button type="submit" id="delete_${task.pk}">Delete</button>
        </td>
    </tr>
    </table>
    </body>
  </html>
  {% endblock content %}

