{% extends 'admin_base.html' %}
  {% block content %}

  <html>
    <head>
      <style>
        th, td {
          padding: 5px;
        }
        </style>
    </head>
    <body>
      <h5>Delivery Fee per KM</h5>
      <table>
        <tr>
        <th>No</th>
        <th>Province</th>
        <th>Motorcycle Rate</th>
        <th>Car Rate</th>
        <th>Actions</th>
      </tr>
      <tr>
        {% for item in delivery_fee %}
        <td>{{item.index}}</td>
        <td>{{item.province}}</td>
        <td>{{item.motorfee}}</td>
        <td>{{item.carfee}}</td>
        {%endfor%}
        <td>
          <button type="submit" id="editbutton"><a href="{% url 'delivery_fee:update_fee' id=index %}">Edit</a></button><br>
          <button type="submit" id="editbutton"><a href="{% url 'delivery_fee:delete_fee' id=index %}">Delete</a></button>
        </td>
    </tr>
    </table>
    </body>
  </html>
  {% endblock content %}

