{% extends 'base.html' %}

  {% block content %}
  <html>
    <head>
    </head>
    <body>
      <h1>
        <h5>Change Delivery Fee per KM</h5>
        <form action="/action_page.php">
          <label for="province">Province: DKI Jakarta</label><br>
          <label for="motorate">Motorcycle Delivery Rate:</label>
          <input type="text" id="motorate" name="motorate"><br><br>
          <label for="carrate">Car Delivery Rate:</label>
          <input type="text" id="carrate" name="carrate"><br><br>
          <button class="btn btn-success my-3" type="submit" id="submitbutton">Save</button>
        </form>
      </h1>
    </body>
  </html>
  {% endblock content %}
