{% extends 'restaurant_base.html' %}
{% block content %}

<body>
    <h1 class="text-center"> Create New Operational Time </h1>
    <br>

    <form method="POST">
      {% csrf_token %}
      <label for="day"> Day </label>
      <select class="form-control" id="day" name="day" required>
        <option hidden > Please select </option>
        <option> Monday </option>
        <option> Tuesday </option>
        <option> Wednesday </option>
        <option> Thursday </option>
        <option> Friday </option>
        <option> Saturday </option>
        <option> Sunday </option>
      </select>

      <label for="openTime"> Opening Time </label>
      <input type="time" class="form-control" id="openTime" name="openTime" required>

      <label for="openTime"> Closing Time </label>
      <input type="time" class="form-control" id="closeTime" name="closeTime" required>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>

</body>

{% endblock content %}