{% extends 'restaurant_base.html' %}
{% block content %}

<body>
    <h1 class="text-center"> Operational Hours </h1>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"> No </th>
            <th scope="col"> Day </th>
            <th scope="col"> Operating Time </th>
            <th scope="col"> Closing Time </th>
            <th scope="col"> Actions </th>
        </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <th scope="row">1</th>
                <td> {{ i.0 }} </td>
                <td> {{ i.1 }} </td>
                <td> {{ i.2 }} </td>
                <td>
                    <button onclick="location.href = '/operational_hours/update/{{ i.3 }}/{{ i.4 }}/{{ i.0 }}';" class="btn btn-primary"> Edit </button>
                    <button onclick="location.href = '/operational_hours/delete/{{ i.3 }}/{{ i.4 }}/{{ i.0 }}';" class="btn btn-outline-primary"> Delete </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

{% endblock content %}