<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIREST</title>
</head>
<body>
    <form method="POST" class="Login-Form" autocomplete="off">
        <div class="card text-center" style="margin: 225px 500px auto 500px">
            <div class="card-header">
                User Registration
            </div>
            <div class="card-body">
                {% csrf_token %}
                {{ form.as_p}}
            </div>
            <div class="card-footer text-muted">
                <div class="text-center">
                    <button type="submit" value="Submit" class="btn btn-dark Login">Register</button>
                </div>
            </div>
        </div>
    </form>

    <!-- <div>
        <label>Email: </label>
        <input type="text">
        <label>Password: </label>
        <input type="text">
        <label>Name: </label>
        <input type="text">
        <label>Phone number: </label>
        <input type="text">
        <label>NIK: </label>
        <input type="text">
        <label>Bank Name: </label>
        <input type="text">
        <label>Account number: </label>
        <input type="text">
        <label>Date of birth: </label>
        <input type="date">
        <label for="gender">Gender:</label>
        <select name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <button type="submit">Register</button> -->
</body>
</html>