<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIREST</title>
</head>
<body>
    <div>
        <label>Email: </label>
        <input type="text">
        <label>Password: </label>
        <input type="text">
        <label>Name: </label>
        <input type="text">
        <label>Phone number: </label>
        <input type="text">
        <label>NIK: </label>
        <input type="text">
        <label>Bank Name: </label>
        <input type="text">
        <label>Account number: </label>
        <input type="text">
        <label>Restaurant name: </label>
        <input type="text">
        <label>Branch: </label>
        <input type="text">
        <label>Phone number: </label>
        <input type="text">
        <label>Street: </label>
        <input type="text">
        <label>District: </label>
        <input type="text">
        <label>City: </label>
        <input type="text">
        <label>Province: </label>
        <input type="text">

        <label for="resturant_category">Restaurant category:</label>

        <select name="restaurant_category">
            <option value="japanese">Japanese</option>
            <option value="western">Western</option>
            <option value="chinese">Chinese</option>
            <option value="italian">Italian</option>
            <option value="french">French</option>
        </select>
    </div>
    <button type="submit">Register</button>
</body>
</html>