{% extends 'base.html' %}
{% block content %}

<body>
    <div>
        <h2 class="text-center">Restaurant Registration Form</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <ul>
                <li>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" required>
                </li>
                <li>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required>
                </li>
                <li>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name">
                </li>
                <li>
                    <label for="phonenumber">Phone Number:  </label>
                    <input type="tel" name="phonenumber" id="phonenumber" required>
                </li>
                <li>
                    <label for="nik">NIK:  </label>
                    <input type="text" name="nik" id="nik" required>
                </li>
                <li>
                    <label for="bankname">Bank Name:  </label>
                    <input type="text" name="bankname" id="bankname" required>
                </li>
                <li>
                    <label for="accountnumber">Account Number:  </label>
                    <input type="text" name="accountnumber" id="accountnumber" required>
                </li>
                <li>
                    <label for="restaurantname">Restaurant Name:  </label>
                    <input type="text" name="restaurantname" id="restaurantname" required>
                </li>
                <li>
                    <label for="branch">Branch:  </label>
                    <input type="text" name="branch" id="branch" required>
                </li>
                <li>
                    <label for="rphonenumber">Restaurant Phone Number:  </label>
                    <input type="tel" name="rphonenumber" id="rphonenumber" required>
                </li>
                <li>
                    <label for="street">Street:  </label>
                    <input type="text" name="street" id="street" required>
                </li>
                <li>
                    <label for="district">District:  </label>
                    <input type="text" name="district" id="district" required>
                </li>
                <li>
                    <label for="city">City:  </label>
                    <input type="text" name="city" id="city" required>
                </li>
                <li>
                    <label for="province">Province:  </label>
                    <input type="text" name="province" id="province" required>
                </li>
                <li>
                    <label for="restaurantcategory">Restaurant Category:  </label>
                    <select id="restaurantcategory" name="restaurantcategory" required>
                        {% for i in category %}
                            <option value="{{i.0}}">{{i.1}}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
            <p>{{message}}</p>
            <button type="submit">Register</button>
        </form>
    </div>
</body>

{% endblock content %}