{% extends 'base.html' %}
{% block content %}

<body>
    <div>
        <h2>Customer Registration Form</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <ul>
                <li>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" required>
                </li>
                <li>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required>
                </li>
                <li>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name">
                </li>
                <li>
                    <label for="phonenumber">Phone Number:  </label>
                    <input type="tel" name="phonenumber" id="phonenumber" required>
                </li>
                <li>
                    <label for="nik">NIK:  </label>
                    <input type="text" name="nik" id="nik" required>
                </li>
                <li>
                    <label for="bankname">Bank Name:  </label>
                    <input type="text" name="bankname" id="bankname" required>
                </li>
                <li>
                    <label for="accountnumber">Account Number:  </label>
                    <input type="text" name="accountnumber" id="accountnumber" required>
                </li>
                <li>
                    <label for="dateofbirth">Date of Birth:  </label>
                    <input type="date" name="dateofbirth" id="dateofbirht" required>
                </li>
                <li>
                    <label for="gender">Gender:  </label>
                    <select id="gender" name="gender" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </li>
            </ul>
            <p>{{message}}</p>
            <button type="submit">Register</button>
        </form>
    </div>
</body>

{% endblock content %}