{% extends 'base.html' %}
{% block content %}

<body>
    <div>
        <h2>Courier Registration Form</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <ul>
                <li>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" required>
                </li>
                <li>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required>
                </li>
                <li>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name">
                </li>
                <li>
                    <label for="phonenumber">Phone Number:  </label>
                    <input type="tel" name="phonenumber" id="phonenumber" required>
                </li>
                <li>
                    <label for="nik">NIK:  </label>
                    <input type="text" name="nik" id="nik" required>
                </li>
                <li>
                    <label for="bankname">Bank Name:  </label>
                    <input type="text" name="bankname" id="bankname" required>
                </li>
                <li>
                    <label for="accountnumber">Account Number:  </label>
                    <input type="text" name="accountnumber" id="accountnumber" required>
                </li>
                <li>
                    <label for="numberplate">Number Plate:  </label>
                    <input type="text" name="numberplate" id="numberplate" required>
                </li>
                <li>
                    <label for="drivinglicensenumber">Driving Licnse Number:  </label>
                    <input type="text" name="drivinglicensenumber" id="drivinglicensenumber" required>
                </li>
                <li>
                    <label for="vehicletype">Vehicle Type:  </label>
                    <select id="vehicletype" name="vehicletype" required>
                        <option value="Car">Car</option>
                        <option value="Motorcycle">Motorcycle</option>
                    </select>
                </li>
                <li>
                    <label for="vehiclebrand">Vehicle Brand:  </label>
                    <input type="text" name="vehiclebrand" id="vehiclebrand" required>
                </li>
            </ul>
            <button type="submit">Register</button>
        </form>
    </div>
</body>

{% endblock content %}