{% extends 'base.html' %}
{% block content %}

<body>
    <div>
        <h2 class="text-center">Admin Registration Form</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <ul>
                <li>
                    <label for="email">Email: </label>
                    <input type="email" name="email" id="email" required>
                </li>
                <li>
                    <label for="password">Password: </label>
                    <input type="password" name="password" id="password" required>
                </li>
                <li>
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name">
                </li>
                <li>
                    <label for="phonenumber">Phone Number:  </label>
                    <input type="tel" name="phonenumber" id="phonenumber" required>
                </li>
            </ul>
            <p>{{message}}</p>
            <button type="submit">Register</button>
        </form>
    </div>
</body>

{% endblock content %}