<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIREST</title>
</head>
<body>
    <div>
        <label>Email: </label>
        <input type="text">
        <label>Password: </label>
        <input type="text">
        <label>Name: </label>
        <input type="text">
        <label>Phone number: </label>
        <input type="text">
        <label>NIK: </label>
        <input type="text">
        <label>Bank Name: </label>
        <input type="text">
        <label>Account number: </label>
        <input type="text">
        <label>Number plate: </label>
        <input type="text">
        <label>Driving lisence number: </label>
        <input type="text">

        <label for="vehicle_type">Vehicle type:</label>

        <select name="vehicle_type">
            <option value="car">Car</option>
            <option value="motorcycle">Motorcycle</option>
        </select>

        <label>Vehicle brand: </label>
        <input type="text">
    </div>
    <button type="submit">Register</button>
</body>
</html>