<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIREST</title>
</head>
<body>
    <div>
        <h2>Register</h2>
        <p><a href="/register_admin">Admin</a></p>
        <p><a href="/register_customer">Customer</a></p>
        <p><a href="/register_restaurant">Restaurant</a></p>
        <p><a href="/register_courier">Courier</a></p>
    </div>
    
</body>

</html>