{% extends 'base.html' %}
{% block content %}

  <html>
    <head>
      <style>
        th, td {
          padding: 5px;
        }
        </style>
    </head>
    <body>
      <h5>Restaurant Details</h5>
      <p>Restaurant Name: Sushi Tei</p>
      <p>Branch: Lombok</p>
      <p>Phone Number: 475-565-7161</p>
      <p>Street: Wijaya</p>
      <p>District: Kebayoran Lama</p>
      <p>City: Balikpapan</p>
      <p>Province: Sumatera Utara</p>
      <p>Rating: 6</p>
      <p>Restaurant Category: Japanese</p>
      <p>Operational Hours: 
        Tuesday	08:00:00-23:30:00
      </p>
      <p>Ongoing Promos: 
        IndependenceDay
        PESTA41
      </p>
    </body>
  </html>
  <button type="submit" id="back">Back</button>

{% endblock content %}

