{% extends 'customer_base.html' %}
{% block content %}

<body>
    <h1 class="text-center">RestoPay</h1>
    <br>
    <form>
      <h3>Current Balance: Rp103,000</h3>
      <label for="withdrawAmount">Amount to withdraw</label>
      <input type="text" class="form-control" id="withdrawAmount" placeholder="Rp50.000">

      <p>To:</p>
      <label for="bank">Bank Name</label>
      <select class="form-control" id="bank">
        <option>BNI</option>
        <option>BCA</option>
        <option>BRI</option>
        <option>Mandiri</option>
        <option>Jenius</option>
      </select>
      <label for="accountNum">Account Number</label>
      <input type="number" class="form-control" id="AccountNum" placeholder="Fill in your account number">

      <button class="btn btn-primary">Save</button>
    </form>
</body>

{% endblock content %}