{% extends 'customer_base.html' %}
{% block content %}

<body>
    <h2>Input Food Delivery Address</h2>
    {% csrf_token %}
    <form>
        <div>
            <label>Street: </label>
            <input type="text">
        </div>
        <div>
            <label>District: </label>
            <input type="text">
        </div>
        <div>
            <label>City: </label>
            <input type="text">
        </div>
        <div>
            <label>Province: </label>
            <select></select>
        </div>
        <a href="localhost:8000/order_transaction_customer/restaurant">[Continue]</a>
    </form>
</body>

{% endblock content %}