{% extends 'customer_base.html' %}
{% block content %}

<body>
    <h2>Input Food Delivery Address</h2>
    <form>
        <div>
            <label>Street: </label>
            <input type="text">
        </div>
        <div>
            <label>District: </label>
            <input type="text">
        </div>
        <div>
            <label>City: </label>
            <input type="text">
        </div>
        <div>
            <label>Province: </label>
            <select>
                {% for i in provinces %}
                    <option>{{ i.0 }}</option>
                {% endfor %}
            </select>
        </div>
        <a href="/order_transaction_customer/restaurant">[Continue]</a>
    </form>
</body>

{% endblock content %}