{% extends 'customer_base.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>Food Selection</h2>
    {% csrf_token %}
    <form>
        <table>
            <tr>
                <th>No</th>
                <th>Foodname</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Notes (Optional)</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Original Chicken Bucket</td>
                <td>45000</td>
                <td><a href="">[-]</a>1<a href="">[+]</a></td>
                <td><a href="">[Add Notes]</a></td>
            </tr>
        </table>

        <h3>Select Payment and Delivery Method</h3>
        <div>
            <label>Delivery Method: </label>
            <select></select>
        </div>
        <div>
            <label>Payment Method: </label>
            <select></select>
        </div>

        <a href="localhost:8000/order_transaction_customer/payment">[Create Order]</a>
    </form>
</body>

{% endblock content %}