{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>No</th>
            <th>Restaurant Branch</th>
            <th>Customer Name</th>
            <th>Time of order creation</th>
            <th>Order status</th>
            <th>Action</th>
        </tr>
        <!-- {% for i in transaction_status %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.RBranch }}</td>
            <td>{{ i.FName }}</td>
            <td>{{ i.DateTime }}</td>
            <td>{{ i.OrderStatus }}</td>
            <td>
                <a href = ""><button>Details</button></a>
                <a href = ""><button>Complete</button></a>
            </td>
        </tr>
        {% endfor %} -->
        <tr>
            <td>1</td>
            <td>Warung Mantap Depok</td>
            <td>Mikayla Putri</td>
            <td>2022-11-04 11:30:05</td>
            <td>Order Delivery</td>
            <td>
                <a href = ""><button>Details</button></a>
                <a href = ""><button>Complete</button></a>
            </td>
        </tr>
    </table>
</body>
</html>
{% endblock %}