<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
</head>
<body>
    {% include base.html %}
    {% block content %}
    <h2>Order Summary</h2>
    <p>Time of order creation: 2022-11-04 11:30:05</p>
    <p>Customer name: Mikayla Putri</p>
    <p>Street: Jalan Bahagia nomor 72</p>
    <p>District: Cinere</p>
    <p>City: Depok</p>
    <p>Province: Jawa Barat</p>
    <p>Restaurant: Warung Mantap Depok</p>
    <p>Street: Jalan Sejahtera nomor 5</p>
    <p>District: Bojongsari</p>
    <p>City: Depok</p>
    <p>Province: Jawa Barat</p>
    <p>Food Ordered:</p>
    <li>Ayam Goreng (1) - [Notes if any]</li>
    <li>Ice Cream (2) - [Notes if any]</li>
    <p>Total Food Price: 11000</p>
    <p>Total Discount: 0</p>
    <p>Delivery Fee: 4000</p>
    <p>Total Cost: 15000</p>
    <p>Payment Method: RestoPay</p>
    <p>Payment Status: Succeed</p>
    <p>Order Status: Order Delivery</p>
    <p>Courier: Doni Suryana</p>
    <p>Number Plate: B 0001 KNN</p>
    <p>Vehicle Type: Motor</p>
    <p>Vehicle Brand: Honda Vario</p>
    <a href = ""><button>Back</button></a>
    {% endblock %}
</body>
</html>