{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Order Summary</h2>
    <p>Time of order creation:</p>
    <p>Customer name: {{ customer_detail.0 }}</p>
    <p>Street: {{ customer_detail.1 }}</p>
    <p>District: {{ customer_detail.2 }}</p>
    <p>City: {{ customer_detail.3 }}</p>
    <p>Province: {{ customer_detail.4 }}</p>

    <p>Restaurant: {{ restaurant_detail.0 }}</p>
    <p>Street: {{ restaurant_detail.1 }}</p>
    <p>District: {{ restaurant_detail.2 }}</p>
    <p>City: {{ restaurant_detail.3 }}</p>
    <p>Province: {{ restaurant_detail.4 }}</p>

    <p>Food Ordered:</p>
    <li>-</li>
    <li>-</li>
    <p>Total Food Price: </p>
    <p>Total Discount: </p>
    <p>Delivery Fee: </p>
    <p>Total Cost: </p>
    <p>Payment Method: </p>
    <p>Payment Status: </p>
    <p>Order Status: </p>

    <p>Courier: {{ courier_detail.0 }}</p>
    <p>Number Plate: {{ courier_detail.1 }}</p>
    <p>Vehicle Type: {{ courier_detail.2 }}</p>
    <p>Vehicle Brand: {{ courier_detail.3 }}</p>
    <a href = "{% url 'order_transaction_courier:ongoing_order' %}"><button>Back</button></a>
</body>
</html>
{% endblock %}